body {
  background-image: url("images/pelota.jpg");
  background-position: 0px 60px; 
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

@font-face {
  font-family: quatarbold;
  src: url("fonts/Qatar2022Arabic-Bold.ttf");
}

h1, h3, h4{
  font-family: "quatarbold";
}